body {
  background-color: #334455;
}
.white-text {
  color: white;
}
.back-col {
  background-color: white;
  color: #334455;
}
.box {
  width: 80%;
}
.content {
  vertical-align: middle;
  border-color: #000000;
  border-width: 0px;
  border-style: solid;
  margin-left: 10%;
  margin-right: 10%;
}